*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(243, 233, 233);
}

main{
    flex-grow: 1;
  display: grid;
  padding: 20px;
}


.hero_container{
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  aspect-ratio: 16/9;
  z-index: -1;

}

.hero_img{
  justify-content: center;
  align-items: center;
  display: flex;

}

@media screen and (max-width: 900px) { 
  .Sektion_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
 
  }   

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
  }
  .Sektion_1{
    padding-top: 5%;
    padding-bottom: 2%;
  }
}

@media screen and (min-width: 901px) { 
  
 .video{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
  }

  .grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
  .bane2{
    grid-row: span 3;
  }

 
  .Sektion_1{
    padding-top: 5%;
    padding-bottom: 2%;
  }
  .masterclass{
    width: 80%;
    height: auto;
    aspect-ratio: 16/9;
      }

  .masterclass_container{
    width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  aspect-ratio: 16/9;

  }

  H1, h2, h3, p{
    display: grid;
    justify-content: center;
    align-items: center;
  }

}
  
header > h1{
  color: #f8e71c;

}

.foto_sektion{
  padding-top: 2%;
  padding-bottom: 2%;
}


  .vaskerum{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  
  
}

.stadion{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

  .bane2{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  
  }

  .laudrup{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }



  iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  
  video{
    width: 100%;
    height: auto;
    display: block;
  }



